apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka
  labels:
    app: eureka
    version: v1
spec:
  selector:
    matchLabels:
      app: eureka
  replicas: 1
  template:
    metadata:
      labels:
        app: eureka
        version: v1
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: eureka
          image: registry.cn-shenzhen.aliyuncs.com/k8small/eureka:1.4.7
          ports:
            - containerPort: 8761

---

apiVersion: v1
kind: Service
metadata:
  name: eureka
  labels:
    app: eureka
spec:
  type: NodePort
  ports:
    - nodePort: 32761
      port: 8761
      protocol: TCP
      targetPort: 8761
      name: http-8761
  selector:
    app: eureka